## While-Loops

Perform the following steps in code:
1. Define a variable and populate it with `0`.
2. Create a while statement that evaluates whether that variable is less than or equal to `20`.
3. Within the while loop evaluate if the variable value is even or odd.
4. Within the while loop, if the variable value is even, print it. If not, do not print it.
5. Within the while loop, finally add `1` to the variable before it repeats.

In [1]:
# code here
var = 0
while var <= 20:
  is_even = (var % 2 == 0)
  if is_even:
    print(var)
  var += 1

0
2
4
6
8
10
12
14
16
18
20

## For-Loops with Lists

In [2]:
# Use this list in the exercises below

mylist = [9, 15, 23, 4, 92, 47, 33, 17, -4, 18, 38, -242]

In [3]:
# Write a command to print out all the values of this list
# EXCEPT for any negative values. Omit them from the printing.
for elem in mylist:
  if elem >= 0:
    print(elem)

9
15
23
4
92
47
33
17
18
38

In [4]:
# Repeat the command from above, but this time get
# the absolute value of any negative values in the list
# and print those with the other items.
for elem in mylist:
  print(abs(elem))

9
15
23
4
92
47
33
17
4
18
38
242

In [5]:
# Similar to above, write a command to print out items in
# the list but omit any values greater than 20 and less than 40.
for elem in mylist:
  if not (elem > 20 and elem < 40):
    print(elem)

9
15
4
92
47
17
-4
18
-242

## For-Loops with Dictionaries

In [7]:
capitals = {'United States':'Washington DC',
          'Italy':'Rome',
          'England':'London',
          'Thailand':'Bangkok',
          'Brazil':'Brasilia'}

In [8]:
# Write a command to print out all the keys of this dict
print(capitals.keys())

dict_keys(['United States', 'Italy', 'England', 'Thailand', 'Brazil'])

In [9]:
# Write a command to print out all the values of this dict
print(capitals.values())

dict_values(['Washington DC', 'Rome', 'London', 'Bangkok', 'Brasilia'])

In [10]:
# Write a command to print all the keys and values for this dict
print(capitals.items())

dict_items([('United States', 'Washington DC'), ('Italy', 'Rome'), ('England', 'London'), ('Thailand', 'Bangkok'), ('Brazil', 'Brasilia')])

In [13]:
# Write a command to print only the first three values and NOTHING more.
print(capitals["United States"])
print(capitals["Italy"])
print(capitals["England"])

Washington DC
Rome
London